@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Source+Sans+3:wght@200&display=swap');

/* Asterisk selector to override default addition browser styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #ECEAEB;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
}

header a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  letter-spacing: 1px;
  padding: 8px;

}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  color: #ECEAEB;
}

#navbar {
  font-size: 110%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

#navbar>li {
  margin-right: 20px;
}

#navbar a:hover {
  color: #D39F3C;
  transition: .5s;
}

.current-page {
  color: #CF281D;
}

#outline-hero {
  height: 200px;
  width: 100%;
  margin-top: 122px;
}

#hero-image {
  height: 200px;
  width: 100%;
  background: url(../images/edoras-view.JPG) no-repeat center center;
  background-size: cover;
  margin-top: 122px;
}

#hero-text {
  color: #ECEAEB;
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 200px;
  text-align: center;
  position: absolute;
  padding: 50px;

}

header {
  background-color: #010101;
  position: fixed;
  width: 100%;
  z-index: 99;
}

main {
  background-color: #3A3D25;
  flex: 1 0 auto;
}

.pic-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
}

.photos {
  width: 75%;
  height: auto;
}

footer {
  background-color: #010101;
  color: white;
  padding: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #D39F3C;
  color: #ECEAEB;
  padding: 10px;
  border: 1px #CF281D;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #D39F3C;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  bottom: 85px;
}

.dropdown-content a {
  color: #ECEAEB;
  padding: 2px 5px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #D39F3C;
}

.dropdown:hover .dropdown-content {
  display: block;
}


#map iframe {
  max-width: 100%;
  width: 100%;
  height: 100px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
}

.footer-divs {
  flex: 1;
  margin: 0 25px;
  text-align: center;
}

/* Media Queries*/

/* For small screen sizes below 800px width*/
@media screen and (max-width: 800px) and (orientation: portrait) {

  h1 {
    font-size: 125%;
  }

  #heading {
    padding: 5px;
  }

  header a {
    text-decoration: none;
    color: inherit;
    text-align: center;

  }

  #navbar {
    font-size: 85%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
  }

  #navbar>li {
    margin-right: 5px;
  }

  #outline-hero {
    height: 200px;
    width: 100%;
    margin-top: 105px;
  }

  #hero-image {
    height: 200px;
    width: 100%;
    background: url(../images/edoras-view.JPG) no-repeat center center;
    background-size: cover;
    margin-top: 105px;
  }

  .footer-section {
    flex-direction: column;
    column-count: 1;
  }

  .footer-divs {
    flex: none;
    margin-bottom: 10px;
  }

  .dropdown {
    position: static;
  }

  .footer-container {
    max-height: 100px;
    overflow-y: auto;
  }
}